$pad20:20px; // 门户首页各模块的边距
$radius10:10px; // 门户首页模块的圆角 - 10像素
$radius3:3px; // 门户首页模块的圆角 - 3像素  - 按钮/标签
$moduleShadow:0 0 6px rgba($color: #000000, $alpha: 0.1); // 模块阴影化
$w940:940px;
$w1440:1440px;
$radius8:8px;
$w1160:1160px;
